{
  "presets": [
    ["@babel/preset-env", {
      "loose": false,
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    ["@babel/preset-react"]
  ],
  "plugins": [
    ["import", { "libraryName": "antd", "style": "css" }],
    ["@babel/plugin-transform-runtime"],
		["@babel/plugin-proposal-decorators", { "legacy": true }],
		"@babel/plugin-proposal-function-sent",
		"@babel/plugin-proposal-export-namespace-from",
		"@babel/plugin-proposal-numeric-separator",
		"@babel/plugin-proposal-throw-expressions",
		"@babel/plugin-syntax-dynamic-import",
		"@babel/plugin-syntax-import-meta",
		["@babel/plugin-proposal-class-properties", { "loose": true }],
		"@babel/plugin-proposal-json-strings"
	]
}
